@model Igrocom.Models.Game


@{
    ViewData["Title"] = Model.Title;
}


<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* одна колонка */
    }

    .grid-item {
        /* стилизация блоков */
        margin-bottom: 20px; /* пример отступа между блоками */
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1 { grid-area: 1 / 1 / 6 / 4; }
    .div2 { grid-area: 1 / 4 / 6 / 5; }


    .image-container {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth; /* Добавляем плавную прокрутку (для современных браузеров) */
    }
    .image-container img {
      display: inline-block;
      width: 100%;
      height: 500px;
      margin-right: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 33% 1fr 33%;
        align-items: start;
    }

    div.a {
        display: table;
    }

    div.t {
        display: table-cell;
        width: 100%;
    }

    div.t>input {
        width: 100%;
    }
</style>


<div class="container-games-details">
    <div class="horizontal-scrolling-items-details">

        <div class="horizontal-scrolling-items__item-details">
            @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model =>
            model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) -
            @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model =>
            model.Title) - &nbsp
        </div>

        <div class="horizontal-scrolling-items__item-details">
            @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model =>
            model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) -
            @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model =>
            model.Title) - &nbsp
        </div>
    </div>
</div>

<div class="grid" style = "padding-top: 10px;">
    <div style="text-align: right; ">
        <div style="margin-bottom: 10px;">
            <a asp-area="" asp-controller="Game" asp-action="Index"><button class="menu-button">&#128072 Назад</button></a>
        </div>
        @{
            var username = "";
            var role = "";
            var id = "";
            if (User.Identity.IsAuthenticated)
            {
                username = User.Identity.Name;
                role = User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
                id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
            }
        }
        @if(!String.IsNullOrEmpty(id))
        {

            if (ViewData["IsFavorite"] != null)
            {
                bool isFav = (bool)ViewData["IsFavorite"];

                if(isFav)
                {
                    <div style="margin-top: 10px;">
                        <form asp-action="RemoveFromFavorites" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="menu-button">&#128148 Исключить</button>
                        </form>
                    </div>
                }
                else
                {
                    <div style="margin-top: 10px;">
                        <form asp-action="AddToFavorites" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="menu-button">В избранное</button>
                        </form>
                    </div>
                }
            }
        }
        @if (role == "admin")
        {
            <div style="margin-bottom: 10px; margin-top:40px">
                <a asp-action="Edit" asp-route-id="@Model.Id"><button class="menu-button">Редактировать</button></a>
            </div>
            <div>
                <a asp-action="Delete" asp-route-id="@Model.Id"><button class="menu-button">Удалить</button></a>
            </div>
        }


    </div>

    <div style="margin-inline: auto;">
        <div id="carouselExample" class="carousel slide" style="width:799px;">
            <div class="carousel-inner" style="border-radius: 10px; box-shadow: 0 0 5px">
                @{
                    if (ViewData["Files"] != null)
                    {
                        if (ViewData.Values != null && ViewData.Values.Count() > 0)
                        {
                            bool isFirst = true;
                            foreach (var item in ViewData["Files"] as List<GameFiles>)
                            {
                                string base64String = "data:image/jpg;base64," + Convert.ToBase64String(item.File, 0, item.File.Length);
                                if (isFirst)
                                {
                                    isFirst = false;
                                    <div class="carousel-item active">
                                        <img src="@base64String" style="height: 450px;width: 799px; border-radius: 0px;">
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img src="@base64String" style="height: 450px;width: 799px; border-radius: 0px;">
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="game-info-block">
            <h1>Описание</h1>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <div class="game-info-block">
            <h1>Особенности</h1>
            <div>
                @foreach (var line in Model.Peculiarities.Split(new[] {"\r\n","\r","\n"}, StringSplitOptions.None))
                {
                    if(!string.IsNullOrWhiteSpace(line))
                    {
                        <p>- @line</p>
                    }
                }
            </div>
        </div>

        <div class="game-info-block">
            <h1>Наша рецензия</h1>
            <p>@Html.DisplayFor(model => model.Review)</p>
        </div>
    </div>

    <div>
        <img src="@Url.Action("GetMainImage", "Game", new { id = Model.Id })" style="height: 450px;width: 300px;border-radius: 10px; border: 1px rgb(0, 0, 0) solid; box-shadow: 0 0 5px #444;" />

        <div style="margin-top: 15px;">
            <p class="game-base-info-header">Рейтинг:</p>
            <p class="game-base-info">@Html.DisplayFor(model => model.Rating)</p>
            <p class="game-base-info-header">Жанр:</p>
            <p class="game-base-info">@Html.DisplayFor(model => model.Genre)</p>
            <p class="game-base-info-header">Дата выхода:</p>
            <p class="game-base-info">@Html.DisplayFor(model => model.ReleaseDate)</p>

            @if (!String.IsNullOrEmpty(id))
            {
                int ratingValue = -2;
                string displayValue = "";
                if(ViewData["UserRating"] != null)
                {
                    ratingValue = (int)ViewData["UserRating"];
                }

                if(ratingValue < 0)
                {
                    displayValue = "Отсутствует";
                }
                else
                {
                    displayValue = ratingValue.ToString();
                }
                <p class="game-base-info-header" style="margin-top: 50px;">Ваша оценка:</p>

                <div style="margin-top: 10px;">
                    <nav class="navbar navbar-light" style="margin-top: 10px;">

                        <form class="form-inline" asp-action="SetRating" method="get">
                            <div class="a" style="width:300px;">
                                <div class="t">
                                    <input type="hidden" name="gameId" value="@Model.Id">
                                    <input class="form-control mr-sm-2" type="search" placeholder="@displayValue" aria-label="Search" name="ratingValue">
                                </div>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поставить</button>
                            </div>
                        </form>
                    </nav>
                </div>
            }

        </div>
    </div>
</div>






